$dark-gray: rgb(103, 111, 115);
$red: rgb(232, 80, 91);
$black: rgb(38, 50, 56);
$orange: rgb(233, 106, 32);
$white: rgb(255, 255, 255);
$primary: rgb(69, 23, 83);
$secondary: rgba(157, 100, 241, 0.49);
// font
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Heebo:wght@300;400;500;600;700&display=swap");

$main-font: "Fira Sans", sans-serif;

// Font size
$default-font-size: 1rem;
