@import "../abstracts/variables";

.custom-btn {
    padding: 10px 15px;
    font-family: inherit;
    font-weight: 200;
    background: transparent;
    cursor: pointer;
    transition: all 6s ease-in-out;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 $primary,
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    font-size: 1.4rem;
}

.custom-btn-primary {
    border: none;
    background: $primary;
    background: linear-gradient(0deg, $primary 0%, $primary 100%);
    color: $white;
    overflow: hidden;

    &:hover {
        text-decoration: none;
        color: $white;
        opacity: .7;
    }

    &:before {
        position: absolute;
        content: "";
        display: inline-block;
        top: -180px;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: $white;
        animation: shiny-primary 2s ease-in-out infinite;
    }

    &:active {
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }
}

.custom-btn-secondary {
    border: none;
    background: $secondary;
    background: linear-gradient(0deg, $secondary 0%, $secondary 100%);
    color: $primary;
    overflow: hidden;

    &:hover {
        text-decoration: none;
        color: $white;
        opacity: .7;
    }
}

.icon-btn {
    height: 22px;
    width: 22px;
    margin-top: -2px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.3)
    }

    &:active {
        transform: scale(1.1)
    }
}
