@import "../abstracts/variables";
form {
    .input-form-group {
        margin: 10px auto;
    }

    .input-form-group {
        label {
            display: block;
            color: $gray;
            margin-bottom: 6px;
            font-size: 1.8rem;
        }
        input, select {
            font: inherit;
            width: 100%;
            padding: 0.6rem 1.2rem;
            box-sizing: border-box;
            border: 1px solid $light-gray;

            &:focus {
                outline: none;
                border: 1px solid $primary;
                background-color: $light-secondary;
            }
        }
    }
    .form-check {
        display: flex;
        align-items: center;
        label {
            font-size: 1.2rem;
        }
    }
}

