@import "../../abstracts/variables";

.main-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: $primary;
    align-items: center;
    height: 50px;
    padding: 0 2rem;

    .logo a {
        text-decoration: none;
        font-weight: bold;
        color: $white;
        cursor: pointer;
        transition: all 0.4s ease-out;
        -webkit-background-clip: text;

        &:hover {
            color: transparent;
            background-image: linear-gradient(270deg, $orange, $secondary);
            text-shadow: 0.5rem 1rem 2rem rgba($black, 20%);
        }
    }

    &__nav {
        height: 100%;

        &__items {
            display: flex;
            flex-flow: row;
            align-items: center;
            list-style: none;
            height: 100%;
            padding: 0;
            margin: 0;

            li {
                margin: 0 16px;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: $white;
                    transition: all 0.4s;

                    &:hover,
                    &:active,
                    &.router-link-active {
                        color: $orange;
                    }
                }
            }
        }

    }
}










